
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Apple Chancery', 'cursive';
    font-style: italic;
}


html {
    min-height:100%;
}

body {
    min-height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
    url(https://images.pexels.com/photos/2763927/pexels-photo-2763927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ifDvd {
    display: none;
}

.ifBook {
    display: none;
}

.ifFurniture {
    display: none;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/** Form **/
.container {
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.total {
   display: flex;
   flex-direction: column;
}

#product_form {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.col1 {
    float: left;
    width: 25%;
    margin-top: 6px;
    align-items: flex-start;
}
  
.col2 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

label {
    padding: 2px;
    display: inline-block;
    position: absolute;
    left: 0;
}

.extra {
    margin-top: 10px;
    width: 100%;
}

input[type=text], input[type=number], select{
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    padding: 3px
}

.btn {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    color: #fff;
}

.saveBtn {
    color: #fff;
    border: 1px solid #42b72a;
    background-color: #42b72a;
    opacity: 0.7;
}

.cancelBtn {
    color: #fff;
    border: 1px solid darkorange;
    background-color: darkorange;
    opacity: 0.7;
}

.btn:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
}

::placeholder {
    opacity: 0;
}

@media screen and (max-width: 420px) {
    .col1 {
        width: 100%;
        float: none;
    }

    .col2 {
        width: 100%;
        float: none;
    }

    label {
        position: relative;
    }

    ::placeholder {
        opacity: 0.7;
    }

    .ifDvd, .ifBook, .ifFurniture {
        margin-bottom: 10px;
    }
}
