* {
    margin: 0;
    padding: 0;
}

html {
    min-height:100%;
}

body {
    min-height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
    url(https://images.pexels.com/photos/2763927/pexels-photo-2763927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 0 auto;
    overflow-x: hidden;
    min-height: 100vh;
    margin-bottom: -70px;
}

.navbar {
    height: 70px;
    width: 100%;
    font-family: 'Apple Chancery', 'cursive';
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    height: 100%;
    float: right;
    padding-left: 25px;
}

.navbar li {
    float: left;
    text-align: center;
    margin: 30px 30px 0px 0px;
    text-decoration: none;
    cursor: pointer;
}

.navbar p {
    float: left;
    text-align:end;
    margin: 30px 0 0 30px;
    color: white;
    font-size: 28px;
}

.projects-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(160px, 240px));
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 160px;
}

.product-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    min-height: 160px;
    width: 100%;
    box-shadow: 5px 5px 5px grey;
    /* NEW */
    background: rgba(255, 255, 255, 0.637);
    border-radius: 4px;
    box-shadow: 4px 4px 3px rgb(235, 213, 213);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.delete-checkbox {
    display: block;
    width: 10%;
    height: 15px;
    margin-top: 10px;
}

.product-card > .description-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 540;
    color: black;
}

/* Button design - https://codepen.io/chancesq/pen/xxVGbrw */
button {
	width: 120px;
	height: 30px;
	cursor: pointer;
	font-weight: bold;
	color: black;
    font-size: 14px;
    font-family: 'Apple Chancery', 'cursive';
    font-style: italic;
	background-color: #dbe8eb;
	border: 2px solid #dbe8eb;
	box-shadow: 5px 5px 0 transparent,
		-5px -5px 0 transparent,
		-5px 5px 0 transparent,
		5px -5px 0 transparent;
	transition: 500ms ease-in-out;
}

button:hover {
	box-shadow: 20px 5px 0 #2ab0b0, -20px -5px 0 #2ab0b0;
}

button:focus {
	outline: none;
}

footer {
    position:relative;
    bottom:0;
    width:100%; 
    height:70px; 
    background: rgba(255, 255, 255, 0.05);
    color: lightgrey;
    font-size: 16px;
    font-family: 'Apple Chancery', 'cursive';
}

footer > p {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}

footer > div {
    float: right;
    margin-right: 40px;
}

.short-border {
    border-top: 1px solid whitesmoke;
    position: absolute;
    left: 10%;
    right: 10%;
}

/* On screens that are 500px or less, change navbar and footer*/
@media screen and (max-width: 510px) {
    .navbar {
        height: 150px;
        display: flex;
        flex-direction: column;
    }

    .navbar p {
        text-align: center;
        margin: 30px 0 0 0;
    }

    .navbar ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar li {
        margin: 0 auto;
    }

    .navbar li button {
        float: none;
        
    }
}
 
  @media screen and (max-width: 700px) {
    footer {
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > div {
        margin-right: 0;
        margin-top: 20px;
    }

    footer > p {
        transform: 0;
        top: 40px;
        margin-bottom: 20px;
    }
}